/crawling\ scripts/kabum/kabum/__pycache__
/crawling\ scripts/kabum/kabum/spiders/__pycache__
/crawling\ scripts/kabum/kabum/spiders/*.json
/crawling\ scripts/kabum/kabum/spiders/*.jl
/crawling\ scripts/kabum/kabum/spiders/*.html
/prjbd2021/src/main/webapp/conf/datasource.properties
/prjbd2021/target

